{% include "global/partial/head.html" %}
<body>

    <h1>Esse é o html da home
        "Pagina inicial - mudei para pasta homeapp - url aninhada - mudando http para render para renderizar html"

        tambem esta sendo usado o conceito de partials para evitar repetição de codigo, usando include para incluir um cabeçalho geral para todas as paginas
    </h1>
    <h1>
        Esse é um exemplo de template global
        dentro da pasta base 
    </h1>
    <h2>{% block texto %}Base com plugin django html entendendo o block{% endblock texto %}</h2>
</body>
</html>